
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.App-header {
  p {
    margin: 0;
    color: rgba(0,0,0,0.5);
  }
}

.App-title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
  background: red;
}


@import 'bs_scss/bootstrap.scss';
@import 'custom/_ace.scss';
@import 'custom/_comments.scss';
@import 'custom/_form.scss';
@import 'custom/_recorder.scss';
@import 'custom/_post.scss';
@import 'custom/_user.scss';


.g-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.no-neg {
  margin-left: 0;
  margin-right: 0;
}