.comment-wrap {
  max-height: 355px;
  overflow: auto;
}


.comment-general {
  width: 100%;
}

.comment-general h3 {
  font-size: 20px;
  font-weight: 400;
}

.m-commentbox__body {
  color: rgba(0,0,0,0.6);
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}