.o-post__meta {
  width: 100%;
  audio {
    width: 100%;
  }

  p {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.badge-pill {
  text-transform: capitalize;
}

.badge-mode--javascript {
  background-color: #F2D444;
}

.badge-mode--c_cpp {
  background-color: #5386C8;
}

.badge-mode--java {
  background-color: #D7001A;
}