.m-userhead {
  position: relative;
  text-align: center;
}

.m-userhead img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.m-userhead .dropdown {
  display: inline-block;
}

.m-userhead .badge {
  position: absolute;
  right: -10px;
  top: 0px;
}